<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="user-logged">
            <img [src]="user.imgperfil" alt="usuário">
            <div class="description-user">
                <p>{{user.nome}}</p>
                <p>{{user.materia}}</p>
            </div>
            <a href="">Ver perfil</a>
        </div>

        <div class="menu-link">
            <a routerLink="/" routerLinkActive="selected" class="link"> <mat-icon>class</mat-icon> Turmas</a>
            <a routerLink="/hoarios" routerLinkActive="selected" class="link "> <mat-icon>watch_later</mat-icon> Meus Horarios</a>
            <a routerLink="/addAluno" routerLinkActive="selected" class="link"> <mat-icon>person_add</mat-icon> Adicionar aluno</a>
        </div>

        <a class="logout ">SAIR</a>
    </mat-sidenav-content>
</mat-sidenav-container>
